<div class="container-1">
  <div class="top-1">
    <textarea (keyup)="transformToHTML()" [(ngModel)]="input" name="input-markdown" class="input-markdown" cols="113" rows="9"></textarea>
  </div>
  <div class="bottom-1">
    <div class="button-panel">
      <div class="bold"></div>
      <div class="italic"></div>
      <div class="link"></div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="container-2">
  <div class="top-2" [innerHTML]="convertedToHTML"></div>

  <div class="bottom-2">
    <div class="text">PREVIEW</div>
  </div>
</div>

<div>{{output}}</div>