.container-1{
    position: relative;
    width: 80%;
    height: 180px;
}

.top-1{
    position: relative;
    width: 100%;
    height: 80%;
    border: 1px solid rgb(190, 190, 196);
}

.bottom-1{
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(190, 190, 196);
}

.button-panel{
    position: relative;
    width: 140px;
    height: 22px;
    top: 9px;
    left: 10px;
    background-color: rgb(232, 232, 236);
}

.bold{
    position: relative;
    width: 12px;
    height: 12px;
    left: 10px;
    top: 5px;
    float: left;
    background-image: url(/assets/images/bold.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.italic{
    position: relative;
    width: 12px;
    height: 12px;
    left: 50px;
    top: 5px;
    float: left;
    background-image: url(/assets/images/italic.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.link{
    position: relative;
    width: 12px;
    height: 12px;
    left: 80px;
    top: 5px;
    float: left;
    background-image: url(/assets/images/link.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.clear{
    clear: both;
}

.container-2{
    position: relative;
    width: 80%;
    height: 180px;
    top: 35px;
}

.top-2{
    position: relative;
    width: 100%;
    height: 80%;
    border: 1px solid rgb(190, 190, 196);
}

.bottom-2{
    position: relative;
    width: 100%;
    height: 15%;
    border: 1px solid rgb(190, 190, 196);
}

.text{
    position: relative;
    width: 50px;
    height: 20px;
    top: 5px;
    left: 5px;
    font-size: 16px;
    color: rgb(121, 121, 175);
}

.input-markdown{
    border:none;
}